
@{
    ViewData["Title"] = "Error";
}

<h4>Vérifiez que vous avez bien saisi la bonne page puis réessayez</h4>
<h5>clickez <strong><a asp-controller="Home" asp-action="Index">ici</a></strong> pour revenir à la page d'accueil </h5>